/games_bot_old_2024.py
/.idea/Games_bot.iml
/games_bot_config.py
/games_bot_old_08.01.2025.py
/games_bot_old_14.01.2025.py
/generate_board.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/sea_fight.py
/sea_fight_tmp.py
/img/userpic.png
/img/Снимок экрана 2025-01-08 в 10.17.09.png
/img/Снимок экрана 2025-01-08 в 10.17.25.png
/img/Снимок экрана 2025-01-08 в 10.17.40.png
/img/Снимок экрана 2025-01-08 в 10.17.57.png
/img/Снимок экрана 2025-01-08 в 10.18.12.png
/img/Снимок экрана 2025-01-08 в 10.18.31.png
/img/Снимок экрана 2025-01-08 в 10.21.13.png
/img/Снимок экрана 2025-01-08 в 10.21.26.png
/img/Снимок экрана 2025-01-08 в 10.21.39.png
